.idea/
mnt/
.env

wp/code/wp
wp/code/vendor
wp/code/composer.lock

wp/code/content/plugins/*
!wp/code/content/plugins/pj-highlightjs

wp/code/content/themes/*
!wp/code/content/themes/.gitkeep

wp/code/content/uploads/*
!wp/code/content/uploads/.gitkeep

